streamlit
pydantic
transformers
accelerate
torch
sentence-transformers
rank-bm25
faiss-cpu
numpy

faiss-cpu
rank-bm25
sentence-transformers
streamlit

faiss-cpu
rank-bm25
sentence-transformers
streamlit
